<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Création d'un lien</div>


    <div class="card mt-3" >
        <div class="card-body">
			
			
			 <div class="form-group">
                <label for="nom">Email:</label>
                <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="participation.mail" />
            </div>


            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" class="form-control" id="password" name="password"  />
            </div>

        </div>
    </div>

        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <a class="btn btn-success" (click)="save()"  ><i class="bi bi-check-square-fill"></i></a>
                            </div>
        </div>


</div>

        
