
<span ><button id="btnModifierEvent" *ngIf="estCreateur" [routerLink]="['/creation-event',event.id]">Modifier l'évenement</button></span>
<span ><button id="btnRepondreInvit" [routerLink]="['/reponse']">Répondre à l'invitation</button></span>


    <span id="titre" >{{event.titre}}</span><br>
    <span >{{event.date | date:"EEEE dd/MM/yyyy" }}</span>
    <span > à {{event.heure }}</span><br>
    
    <span id="adresse"> {{event.adresse.voie}} </span>
    <span id="adresse"> {{event.adresse.numero}} </span><br>
    <span id="adresse"> {{event.adresse.cp}} </span>
    <span id="adresse"> {{event.adresse.ville}} </span><br>
  
    <span >{{event.description}}</span><br>
    <span >Taille max: {{event.tailleMax}} personnes</span>
    <span >Nombre d'accompagnants maximum: {{event.accompagnantMax}} personnes</span>
    <span >Prix d'entrée: {{event.prix}} €/ personne</span>
    
    
    <span ><button id="btnConsulterParti" [routerLink]="['/connexion']"  disabled="disabled">Consulter à la liste des participants</button></span>
    <br><br><br><span ><button id="btnQuoiRammener" disabled="disabled">Quoi rammener?</button></span>

    <br><br><br><span ><button id="btnMessage" disabled="disabled">Message</button></span>
   
  
    

