<p>accueil-event works!</p>

<span ><button [routerLink]="['/creation-event']">Modifier l'évenement</button></span>

<span ><button [routerLink]="['/reponse']">Répondre à l'invitation</button></span>
<span ><button [routerLink]="['/connexion']"  disabled="disabled">Consulter à la liste des participants</button></span>
<span ><button  disabled="disabled">Quoi rammener?</button></span>
<span ><button  disabled="disabled">Message</button></span>






    

<div >
    <div >{{event.titre}}</div>
    <div >{{event.description}}</div>
    <div >{{event.date}}</div>
    <div >{{event.heure}}</div>
    <div >{{event.adresse.numero}}</div>
    <div >{{event.adresse.voie}}</div>
    <div >{{event.adresse.ville}}</div>
    <div >{{event.adresse.cp}}</div>
</div>

 
   
  
    

