<div class = "container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Se connecter</h1>
                    <h6>veuilez entrer le mail et le password !</h6>
                </div>
                <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">adresse mail</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>
                <a style="color: white; margin-top: 10px ;" routerLink="/inscription">Cliquer si vous n'avez pas un compte</a>
            </div>
        </div>
    </div>
</div>